body{
    background-color: rgb(249, 250, 251);
}
h1{
   font-family: 'Oswald', sans-serif; /*Efter vi har gjort import i html koden nämner vi namnet här, vilket kommer gra att alla h1- elementen kommer ha en skrivstil font*/
    font-size: 50px;
    text-align: cente;
    color: black;
}
h4{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
    color: black ;
}

#location{
    padding: 10px;
    width: 30em;
    margin-bottom: 10px;
    border-radius: 11px;
}
select{
    padding: 10px;
    width: 15em;
    margin-bottom: 10px;
    border-radius: 11px;

}
#toAmount{
    padding: 10px;
    width: 30em;
    margin-bottom: 10px;
    border-radius: 11px;
}
#container{
    text-align: center;
}
#changeColor {
    padding: 0.5em 1em;
    background-color: rgb(0, 171, 169);;
    border: solid rgb(0, 171, 169);;
    border-radius: 9px;
   
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: 300;
    color: #000000;
    position: relative;
}

#changeColor:hover {
    background-color: rgb(0, 171, 169);;
    border: 0.16em solid rgb(134, 214, 213);;
    color: white;
}

#boxes{
    margin-top:10%;
    text-align: center;
}
#box{
    margin-bottom: 10px;
}
#box2{
    margin: 10px;
}
/* Media Queries */
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }
    .top-container {
        grid-template-columns: 1fr;
        grid-template-areas: "kolla" "top-box";
    }
    .main-nav ul {
        grid-template-columns: 1fr;
    }
    input[type="text"] {
        padding: 0.5em 8em;
        border: 0.16em solid  rgb(134, 214, 213);;
        margin: 0 0.2em 0.3em 0;
        box-sizing: border-box;
        text-decoration: none;
        text-transform: uppercase;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        font-weight: 300;
        color: #000000;
        position: relative;
        
    }
}